/* 공통 모듈 */
html, body, div, header, nav, section, article, footer, ul, li, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    color: #111;
    font-size: 16px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #111;
}
img {
    display: block;
}

/* 탑 메뉴 */
.h-top {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 0 3%;
}
.jordan-logo span, .customer, .top-menu-title {
    display: none;
}
.top-menu {
    display: flex;
}
.top-menu li {
    margin-left: 24px;
    height: 36px;
    line-height: 33px;
}
.top-menu li a {
    color: #c4c4c4;
    font-size: 0.75em;
}

/* 헤더 공통 모듈 */
header {
    height: 64px;
    position: relative;
    z-index: 10;
    display: flex;
}
.logo, nav, .icon-menu {
    position: absolute;
}
.logo {
    top: 50%;
    left: 0;
    /* top으로 50% 내리고 위치를 중앙으로 맞추기 위해 translateY(-50%) */
    transform: translateY(-50%);
}
nav {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.main-menu, .icon-menu ul {
    display: flex;
}
.icon-menu {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.icon-menu .search_box{
    margin-top: -4px;
    /* transition: .5s; */
}
.icon-menu .search_box .search_con{
    display: flex;
    background-color: #eee;
    padding: 5px;
    border-radius: 10px;
}
.icon-menu .search_box a input{
    width: 100px;
    border:none;
    background: none;
}
.icon-menu .search_box a input:focus{
    /* background-color: red; */
    outline: none;
}
.icon-menu .search_box a input::placeholder{
    font-weight: 700;
    font-size: .9em;
    color:#aaa;
}
/* 써치 시작 */
.icon-menu .search_box.target ~ li{
    display: none;
}
.icon-menu .search_box.target{
    /* background-color: orange; */
    width: 100vw;
    height: 100px;
    top: -30px;
    right: -40px;
    /* border: 1px solid red; */
    background: linear-gradient(to top, rgba(238, 238, 238, .5), #111);
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid #eee;
}
.icon-menu .search_box.target a .search_con{
    width: 200px;
    cursor: auto;
    margin-top: 20px;
}

.icon-menu ul li {
    margin-left: 18px;
}
.menu-btn {
    display: none;
}
.hidden-menu {
    display: none;
}
.main-menu{
    width: 100vh;
    height: 100%;
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: center;
}
.main-menu > li > a {
    box-sizing: border-box;
    height: 64px;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: 'Lato';
    font-size: .7em;
    font-weight: 400;
    /* 줄바꿈 하지 않는다 */
    white-space: nowrap;
    position : absolute;
}
.main-menu > li:last-child:hover > a {
    border-bottom: 2px solid #fff;
}
.main-menu > li:nth-child(1) > a{
    /* left : 250px; */
    left : 30%;
}
.main-menu > li:nth-child(2) > a{
    /* left : 350px; */
    left : 40%;
}
.main-menu > li:nth-child(3) > a{
    /* left : 400px; */
    left : 45%;
}
.main-menu > li:nth-child(4) > a{
    /* left : 470px; */
    left : 53%
}
.main-menu > li:nth-child(5) > a{
    /* left : 520px; */
    left : 58%;
}
.main-menu > li:last-child > a{
    /* left : 570px; */
    left :63%;
}
.main-menu > li:hover > a {
    border-bottom: 2px solid #111;
}
.sub-menu {
    display: none;
    text-align: center;
    /* padding-top: 26px; */
    margin-top: 64px;
    padding:26px 30px 0;
}
.sub-menu li {
    line-height: 26px;
}
.sub-menu li a {
    font-size: 0.8125em;
    color: #757575;
    /* 글자간격 */
    letter-spacing: -0.2px;
}
.all {
    display: none;
}
/* 어차피 지울거 */
.main-menu:hover .sub-menu {
    display: block;
}
.sub-bg {
    width: 100%;
    height: 230px;
    background-color: #fff;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 5;
    display: none;
}

/* 푸터 공통 모듈 */
footer {
    background-color: #111;
    color: #fff;
}
footer a {
    color: #fff;
}
.f-top, .f-bottom {
    width: 1024px;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 0.6875em;
}
.f-line {
    border-top: 1px solid #333;
}
.f-top, .f-info {
    display: flex;
    /* 기본값 : start */
    /* space-between : 간격 일정하게 나열 */
    justify-content: space-between;
}
.f-mobile {
    display: none;
}
.f-menu > li {
    line-height: 30px;
}
.f-menu > li > a {
    font-size: 0.8125em;
}
.f-sub li {
    line-height: 24px;
}
.f-sub a {
    color: #aaa;
}
.social .f-sub { 
    display: flex;
}
.social .f-sub li {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    font-size: 0.8125em;
    margin-right: 6px;
    background-color: #444;
}
.f-bottom ul {
    display: flex;
    margin-bottom: 32px;
}
.f-bottom ul li {
    font-size: 0.8125em;
    margin-right: 16px;
}
.f-bottom p {
    color: #aaa;
    letter-spacing: 0.5px;
}
.f-info > p br:nth-child(1),
.f-info > p br:nth-child(3),
.f-info > p br:nth-child(6) {
    display: none;
}
.inipay p:last-child {
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.inipay p:last-child img {
    margin-left: 16px;
}
.inipay p:last-child a {
    margin-left: 8px;
    text-decoration: underline;
}